<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#pricing">PRICING</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron portfolio-jumbotron">
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-4">
      <div class="portfolio-jumbotron-skills pull-right">
        <div class="my-animation-slide-left">PHP</div>
        <div class="my-animation-slide-left">MySQL</div>
        <div class="my-animation-slide-left">MEAN Stack</div>
        <div class="my-animation-slide-down">LAMP Stack</div>
        <div class="my-animation-slide-down">MongoDB</div>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-circle portfolio-img center-block" src="https://randomuser.me/api/portraits/men/1.jpg" />
      <div class="center-text font-20">FULL STACK SOFTWARE ENGINEER</div>
    </div>
    <div class="hidden-xs hidden-sm col-md-4">
      <div class="portfolio-jumbotron-skills pull-left">
        <div class="my-animation-slide-right">Python</div>
        <div class="my-animation-slide-right">Flask</div>
        <div class="my-animation-slide-right">Solr</div>
        <div class="my-animation-slide-down">GIT, SVN</div>
        <div class="my-animation-slide-down">CSS</div>
      </div>
    </div>
  </div>
</div>