<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a scrollTo href="#about">ABOUT</a></li>
        <li><a scrollTo href="#skills">SKILLS</a></li>
        <li><a scrollTo href="#experience">EXPERIENCE</a></li>
        <li><a scrollTo href="#projects">PROJECTS</a></li>
        <li><a target="_blank" href="{{resume}}">RESUME</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron portfolio-jumbotron">
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-4">
      <div class="portfolio-jumbotron-skills pull-right">
        <div class="my-animation-slide-left">PHP</div>
        <div class="my-animation-slide-left">MySQL</div>
        <div class="my-animation-slide-left">MEAN Stack</div>
        <div class="my-animation-slide-down">LAMP Stack</div>
        <div class="my-animation-slide-down">MongoDB</div>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-responsive img-circle portfolio-image padding-top-20 padding-bottom-20 center-block" src="{{my_photo}}" />
      <div class="center-text font-size-20">FULL STACK SOFTWARE ENGINEER</div>
      <div class="center-text">deshmukh.ah@gmail.com</div>
      <div class="center-text">703-901-5790</div>
    </div>
    <div class="hidden-xs hidden-sm col-md-4">
      <div class="portfolio-jumbotron-skills pull-left">
        <div class="my-animation-slide-right">Python</div>
        <div class="my-animation-slide-right">Flask</div>
        <div class="my-animation-slide-right">Solr</div>
        <div class="my-animation-slide-down">GIT, SVN</div>
        <div class="my-animation-slide-down">CSS</div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="container my-sections">
  <h2 class="my-section-title"><span>About</span></h2>
  <div class="row">
    <div class="col-xs-12">
      <p>Thank you for visiting my portfolio. 
        I am a Full Stack Software Engineer with over 8 years experience in the field of Software Engineering. 
        I graduated from George Mason University with Masters in Information Systems in 2009 with a GPA of 3.39.
        Below is a brief introduction about myself and my skill sets. Please feel free to contact me by email at <span class="font-bold">deshmukh.ah@gmail.com</span> or phone at <span class="font-bold">703-901-5790</span> 
      </p>
      <ul>
        <li>Proficient in analyzing business requirements and converting them into working solutions.</li>
        <li>Self-starter with ability and eagerness to learn new skills.</li>
        <li>Highly motivated team member with good communication and personal skills.</li>
        <li>Eager to take on new challenges and responsibilities.</li>
        <li>Experience working in Agile environment.</li>
        <li>Invest personal time to get hands-on experience in new technologies.</li>
      </ul>
      <div><span class="skill-name">GITHUB</span></div>
      <div><a href="https://github.com/ahdeshmukh" target="_blank">https://github.com/ahdeshmukh</a></div>
      <div><span class="skill-name">LINKEDIN</span></div>
      <div><a href="https://www.linkedin.com/in/ahdeshmukh" target="_blank">https://www.linkedin.com/in/ahdeshmukh</a></div>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="skills" class="container my-sections">
  <h2 class="my-section-title"><span>Skills</span></h2>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Front End:</span></div>
    <div class="col-md-10">HTML, CSS, Javascript, AngularJS, Angular 4, JQuery, Ionic Framework, Single Page Application, JSON, Bootstrap</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Back End:</span></div>
    <div class="col-md-10">PHP, Python, Node.js, Express.js, Slim Framework, Flask, Zend, XML, REST API</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Database:</span></div>
    <div class="col-md-10">MySQL, PostgreSQL</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">NoSQL:</span></div>
    <div class="col-md-10">MongoDB</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">OS:</span></div>
    <div class="col-md-10">Windows, Linux</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Version Control:</span></div>
    <div class="col-md-10">GIT, SVN</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Stack:</span></div>
    <div class="col-md-10">LAMP, MEAN</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Package Manager:</span></div>
    <div class="col-md-10">npm, Composer</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Build Tools:</span></div>
    <div class="col-md-10">Grunt, angular cli</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">CMS:</span></div>
    <div class="col-md-10">Drupal</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Others:</span></div>
    <div class="col-md-10">Drush, shell scripting</div>
  </div>
</div>

<div id="experience" class="container my-sections">
  <h2 class="my-section-title"><span>Experience</span></h2>
  <div class="row">
    <div class="col-xs-12">
      <div class="employment">
        <h4>Software Engineer, Xpand Corporation, Jan 2013 - Present</h4>
        <div class="employment-projects">
          <p><span class="font-bold">DirectSource</span> (<a href="https://www.jobcentraldirect.com" target="_blank">https://www.jobcentraldirect.com</a>) developed using AngularJS, PHP, HTML, CSS, Bootstrap, npm, MySQL and Solr</p>
          <div>DirectSource is the ultimate referral-based hiring platform that helps veterans find the BEST jobs precisely matching their past experience and unique background. This platform enables the career center representatives to reach out to large number of veterans who are looking for jobs and guide them towards employers looking to hire them.</div>
          <div class="margin-top-20 margin-bottom-20">
            <ul>
              <li>Full Stack Software Engineer on the team that develops and maintains DirectSource project.</li>
              <li>Responsible for end to end completion of tasks, including developing the front end, writing backend code and database queries to achieve the business requirements.</li>
              <li>Introduced new technologies like Solr and practices like Git workflow to the team.</li>
              <li>Installed and setup the master slave Solr configuration.</li>
              <li>Developed the schema for Solr and wrote the MySQL stored procedures that are invoked by Solr during indexing.</li>
              <li>Wrote the scripts that run as cron jobs every night to import data from MySQL and index Solr</li>
              <li>Lead and co-ordinate with team members to ensure smooth production releases.</li>
              <li>Provide support and address production related issues as an urgent priority.</li>
              <li>Developed the REST API using Slim Framework, that accept AJAX HTTP requests from AngularJS, queries the database and returns uniform JSON to the front end.</li>
              <li>Streamlined the deployments by developing shell scripts to convert manual deployment process into well-regulated automated one.</li>
              <li>Co-ordinate with the QA team to ensure that the project is well tested</li>
              <li>Create the release notes for the marketing team and introduce them to the new features that are released to production during monthly releases.</li>
            </ul>
          </div>
        </div>
        <div class="employment-projects">
          <p><span class="font-bold">Virtual Career Network</span> (<a href="https://www.vcn.org" target="_blank">https://www.vcn.org</a>) developed using Drupal 7, PHP, HTML, CSS, jQuery, MySQL</p>
          <div>The Virtual Career Network is an "open source" workforce services and online learning delivery platform built and operated by the American Association of Community Colleges (AACC) under a grant from the Employment and Training Administration (ETA) of the United States Department of Labor (DOL). The website was developed to help US workers transition into Healthcare, Green Economy and Transit careers and help people over 50 years find a way back in the work force.</div>
          <div class="margin-top-20 margin-bottom-20">
            <ul>
              <li>Drupal developer on the team that developed and maintains Virtual Career Network.</li>
              <li>Participated in migration of code from Drupal 6 to Drupal 7</li>
              <li>Implemented single sign on for Drupal multi sites.</li>
              <li>Developed new features to display data using jQuery dataTable plugin and applied it throughout the website to enhance uniformity, while improving the performance of the pages which have a high volume of data</li>
              <li>Introduced Drush to the team.</li>
              <li>Support and answer the queries of the registered users of the site.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="employment">
        <h4>Software Engineer, REI Systems Inc, Nov 2009 - Jan 2013</h4>
        <div class="employment-projects">
          <p><span class="font-bold">Federal IT Dashboard</span> (<a href="https://www.itdashboard.gov/" target="_blank">https://www.itdashboard.gov/</a>)  developed using Drupal 6, PHP, HTML, CSS, jQuery, MySQL</p>
          <div class="margin-top-20 margin-bottom-20">IT Dashboard provides Federal agencies and the public with the ability to view details of Federal information technology (IT) investments online and to track their progress over time.</div>
          <ul>
            <li>Software Engineer on the team that developed and maintained IT Dashboard</li>
            <li>Worked on tight deadlines to achieve the targets.</li>
            <li>Member of the team that open soured IT Dashboard code.</li>
            <li>Provide support for IT Dashboard open source forum.( <a href="http://civiccommons.org/2011/05/it-dashboard-six-weeks-in" target="_blank">http://civiccommons.org/2011/05/it-dashboard-six-weeks-in</a> )</li> 
          </ul>
        </div>
       </div>
       <div class="employment">
        <h4>Software Engineer, Field Data Technology, Aug 2009 - Nov 2009</h4>
        <div class="employment-projects">
          <ul>
            <li>Developed the PDA application used for data collection for the Corrosion Prevention and Control Program using VB.Net, Visual Studio 2008 and Windows Mobile Device.</li>
            <li>Storage and transportation of the data using XML and Pocket SQL Database.</li>
          </ul>
        </div>
       </div>
    </div>
  </div>
</div>

<div id="projects" class="container my-sections">
  <h2 class="my-section-title"><span>Projects</span></h2>
  <div class="row">
    <div class="col-md-6">
      <div class="padding-10">
        <a href="https://jobcentraldirect.com" target="_blank">
            <img class="img-responsive" src="{{directsource_image}}" />
        </a>
        <div class="padding-top-10 text-muted font-size-14">
          <div class="font-size-20"><a href="https://jobcentraldirect.com" target="_blank">DirectSource</a></div>
          <div>Technology: AngularJS, PHP, Slim Framework, CSS, HTML, Bootstrap</div>
          <div>Database: MySQL</div>
          <div>Search: Solr</div>
          <div>Version Control: GIT, Github</div>
          <div>Hosting: CentOS</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="padding-10">
        <a href="https://vcn.org" target="_blank">
          <img class="img-responsive" src="{{vcn_image}}" />
        </a>
        <div class="padding-top-10 text-muted font-size-14">
          <div class="font-size-20"><a href="https://vcn.org" target="_blank">Virtual Career Network</a></div>
          <div>Technology: Drupal, PHP, HTML, CSS, jQuery, Google charts</div>
          <div>Database: MySQL</div>
          <div>Version Control: GIT, Github</div>
          <div>Hosting: CentOS</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="padding-10">
        <a href="http://flask-deshmukh-ah.herokuapp.com" target="_blank">
            <img class="img-responsive" src="{{flask_image}}" />
        </a>
        <div class="padding-top-10 text-muted font-size-14">
          <div class="font-size-20"><a href="http://flask-deshmukh-ah.herokuapp.com" target="_blank">Flask</a></div>
          <div>Technology: Python, Flask, jQuery, CSS, HTML, Bootstrap</div>
          <div>Database: PostgreSQL</div>
          <div>Version Control: GIT, Github</div>
          <div>Hosting: Heroku</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="padding-10">
        <a href="https://angular2cli-f651c.firebaseapp.com/home" target="_blank">
          <img class="img-responsive" src="{{angular2_cli}}" />
        </a>
        <div class="padding-top-10 text-muted font-size-14">
          <div class="font-size-20"><a href="https://angular2cli-f651c.firebaseapp.com/home" target="_blank">Angular 2</a></div>
          <div>Technology: Angular 2, HTML, CSS, Bootstrap, Google charts</div>
          <div>Version Control: GIT, Github</div>
          <div>Hosting: Firebase</div>
        </div>
      </div>
    </div>
  </div>
</div>