.navbar {
    margin-bottom: 0;
    background-color: #752a13;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

img.portfolio-img {
    padding: 20px 0;
}

.portfolio-jumbotron {
    /*background-color: #FFF;*/
    font-family: Montserrat, sans-serif;
    border-bottom: 1px solid #ff0000;
    border-radius: 0;
    background-image: url("jumbotron-background.jpg");
    color: #FFF;
}

.portfolio-jumbotron-skills {
    padding: 20px 10px 10px 10px;
}

div.my-animation-slide-left {
    animation: my-animation-slide-left 2s;
    animation-fill-mode: forwards;
}
@keyframes my-animation-slide-left {
    0% {transform: translateX(-1500px); font-size: 100%; opacity: 0}
    100% {transform: translateX(0); font-size: 150%; opacity: 1; font-style:italic}
}
@-webkit-keyframes my-animation-slide-left {
    0% {transform: translateX(-1500px); font-size: 100%; opacity: 0}
    100% {transform: translateX(0); font-size: 150%; opacity: 1; font-style:italic}
}

div.my-animation-slide-right {
    animation: my-animation-slide-right 2s;
    animation-fill-mode: forwards;
}
@keyframes my-animation-slide-right {
    0% {transform: translateX(1500px); font-size: 100%; opacity: 0}
    100% {transform: translateX(0); font-size: 150%; opacity: 1; font-style:italic}
}
@-webkit-keyframes my-animation-slide-right {
    0% {transform: translateX(1500px); font-size: 100%; opacity: 0}
    100% {transform: translateX(0); font-size: 150%; opacity: 1; font-style:italic}
}

div.my-animation-slide-down {
    animation: my-animation-slide-down 2s;
    animation-fill-mode: forwards;
}
@keyframes my-animation-slide-down {
    0% {transform: translateY(-1500px); font-size: 100%; opacity: 0}
    100% {transform: translateY(0); font-size: 150%; opacity: 1; font-style:italic}
}
@-webkit-keyframes my-animation-slide-down {
    0% {transform: translateY(-1500px); font-size: 100%; opacity: 0}
    100% {transform: translateY(0); font-size: 150%; opacity: 1; font-style:italic}
}

.my-sections {
  padding-top:30px;
  font-size: 20px;
}

.skill-name {
  font-weight: bold;
}