<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a scrollTo href="#about">ABOUT</a></li>
        <li><a scrollTo href="#skills">SKILLS</a></li>
        <li><a scrollTo href="#experience">EXPERIENCE</a></li>
        <li><a scrollTo href="#projects">PROJECTS</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron portfolio-jumbotron">
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-4">
      <div class="portfolio-jumbotron-skills pull-right">
        <div class="my-animation-slide-left">PHP</div>
        <div class="my-animation-slide-left">MySQL</div>
        <div class="my-animation-slide-left">MEAN Stack</div>
        <div class="my-animation-slide-down">LAMP Stack</div>
        <div class="my-animation-slide-down">MongoDB</div>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-circle padding-top-bottom-20 center-block" src="https://randomuser.me/api/portraits/men/1.jpg" />
      <div class="center-text font-20">FULL STACK SOFTWARE ENGINEER</div>
      <div class="center-text font-12">deshmukh.ah@gmail.com</div>
      <div class="center-text font-12">703-901-5790</div>
    </div>
    <div class="hidden-xs hidden-sm col-md-4">
      <div class="portfolio-jumbotron-skills pull-left">
        <div class="my-animation-slide-right">Python</div>
        <div class="my-animation-slide-right">Flask</div>
        <div class="my-animation-slide-right">Solr</div>
        <div class="my-animation-slide-down">GIT, SVN</div>
        <div class="my-animation-slide-down">CSS</div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="container">
  <div class="row">
    <div class="col-xs-12 my-sections">
      <h2 class="my-section-title"><span>About</span></h2>
      <p>I am Amit Deshmukh. Thank you for visiting my portfolio. I am a Full Stack Software Engineer with over 8 years experience in the field of Software Engineering.</p>
      <ul>
        <li>Proficient in analyzing business requirements and converting them into working solutions.</li>
        <li>Self-starter with ability and eagerness to learn new skills.</li>
        <li>Highly motivated team member with good communication and personal skills.</li>
        <li>Eager to take on new challenges and responsibilities.</li>
        <li>Experience working in Agile environment.</li>
      </ul>
      <!--<div class="row">
        <div class="col-md-2"><span class="skill-name">GITHUB</span></div>
        <div class="col-md-10"><a class="padding-left-15" href="https://github.com/ahdeshmukh" target="_blank">https://github.com/ahdeshmukh</a></div>
        <div class="col-md-2"><span class="skill-name">LINKEDIN</span></div>
        <div class="col-md-10"><a class="padding-left-15" href="https://www.linkedin.com/in/ahdeshmukh" target="_blank">https://www.linkedin.com/in/ahdeshmukh/</a></div>
      </div>-->
      <div><span class="skill-name">GITHUB</span></div>
      <div><a href="https://github.com/ahdeshmukh" target="_blank">https://github.com/ahdeshmukh</a></div>
      <div><span class="skill-name">LINKEDIN</span></div>
      <div><a href="https://www.linkedin.com/in/ahdeshmukh" target="_blank">https://www.linkedin.com/in/ahdeshmukh</a></div>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="skills" class="container my-sections">
  <h2 class="my-section-title"><span>Skills</span></h2>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Front End:</span></div>
    <div class="col-md-10">HTML, CSS, Javascript, AngularJS, Angular 4, JQuery, Ionic Framework, Single Page Application, JSON, Bootstrap</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Back End:</span></div>
    <div class="col-md-10">PHP, Python, Node.js, Express.js, Slim Framework, Flask, Zend, XML, REST API</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Database:</span></div>
    <div class="col-md-10">MySQL, PostgreSQL</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">NoSQL:</span></div>
    <div class="col-md-10">MongoDB</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">OS:</span></div>
    <div class="col-md-10">Windows, Linux</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Version Control:</span></div>
    <div class="col-md-10">GIT, SVN</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Stack:</span></div>
    <div class="col-md-10">LAMP, MEAN</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Package Manager:</span></div>
    <div class="col-md-10">npm, Composer</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Build Tools:</span></div>
    <div class="col-md-10">Grunt, angular cli</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">CMS:</span></div>
    <div class="col-md-10">Drupal</div>
  </div>
  <div class="row">
    <div class="col-md-2"><span class="skill-name">Others:</span></div>
    <div class="col-md-10">Drush, shell scripting</div>
  </div>
</div>

<div id="experience" class="container">
  <div class="row">
    <div class="col-xs-12 my-sections">
      <h2 class="my-section-title"><span>Experience</span></h2>
      <div>
        <h4>Software Engineer, Xpand Corporation, Jan 2013 - Present</h4>
        <div>
          <p><span class="font-bold">DirectSource</span> (<a href="https://www.jobcentraldirect.com" target="_blank">https://www.jobcentraldirect.com</a>) developed using AngularJS, PHP, HTML, CSS, Bootstrap, npm, MySQL and Solr</p>
          <ul>
            <li>Responsible for end to end completion of tasks, including developing the front end, writing backend code and database queries to achieve the business requirements.</li>
            <li>Introduced new technologies like Solr and good practices like Git workflow to the team.</li>
            <li>Installed and setup the master slave Solr configuration.</li>
            <li>Developed the schema for Solr and wrote the stored procedures in MySQL that are invoked by Solr during indexing.</li>
            <li>Wrote the scripts that run as cron jobs every night to import data from MySQL and index Solr</li>
            <li>Lead and co-ordinate with team members to ensure smooth production releases.</li>
            <li>Provide support and addressing production related issues as an urgent priority.</li>
            <li>Developed the REST API using Slim Framework, that accept AJAX HTTP requests from AngularJS, queries the database and returns uniform JSON to the front end.</li>
            <li>Streamlined the deployments by developing shell scripts to convert manual deployment process into well-regulated automated one.</li>
            <li>Create the release notes for the marketing team and give them walk through about new features that are released to production during monthly releases.</li>
          </ul>
        </div>
        <div>
          <p><span class="font-bold">Virtual Career Netwrok</span> (<a href="https://www.vcn.org" target="_blank">https://www.vcn.org</a>)</p>
          <ul>
            <li>Task 1</li>
            <li>Task 2</li>
            <li>Task 3</li>
          </ul>
        </div>
      </div>
      <div>
        <h4>Software Engineer, REI Systems Inc, Nov 2009 - Jan 2013</h4>
        <div>
          <p><span class="font-bold">Federal IT Dashboard</span> (<a href="https://www.itdashboard.gov/" target="_blank">https://www.itdashboard.gov/</a>)</p>
          <ul>
            <li>Task 1</li>
            <li>Task 2</li>
            <li>Task 3</li>
          </ul>
        </div>
       </div>
    </div>
  </div>
</div>

<div id="projects" class="container">
  <div class="row my-sections">
    <h2 class="my-section-title"><span>Projects</span></h2>
    <div class="col-md-6">
      <a href="http://flask-deshmukh-ah.herokuapp.com" target="_blank">
          <img class="img-responsive" src="{{flask_image}}" />
      </a>
      <div>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </div>
    </div>
    <div class="col-md-6">
      <a href="https://angular2cli-f651c.firebaseapp.com/home" target="_blank">
        <img class="img-responsive" src="{{angular2_cli}}" />
      </a>
      <div>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </div>
    </div>
  </div>
</div>