.home-image {
    height: 300px;
}

@media screen and (min-width: 520px) {
    .home-image {
        height: auto;
    }
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-width: 0px;
}

.navbar-toggle-colored {
    background-color: #f4511e;
}

.black-background {
    background-color:black;
}

.navbar-brand {
    font-family: 'Tangerine', serif;
    font-size: 38px;
    color: #fff;
    font-style: bold;
}

.font-white {
    color: #fff;
}