.home-image {
    height: 250px;
}

@media screen and (min-width: 520px) {
    .home-image {
        height: auto;
    }
}

.navbar {
    background-color: transparent;
    border-width: 0px;
    padding: 20px 0;
    margin-bottom: 0px;
    border: none !important;
}

.navbar-toggle-colored {
    background-color:#5a5755;
}

.black-background {
    background-color:black;
}

.navbar-brand {
    font-family: 'Tangerine', serif;
    font-size: 54px;
    color: #fff;
    padding: 20px 0;
}
@media screen and (min-width: 1224px) {
    .navbar-brand {
        font-size: 90px;
        padding: 30px 0 20px 20px;
    }
}

.navbar-padding-10 {
    padding: 10px 0;
}

.navbar-custom .navbar-nav > li > a {
    color:#ffffff;
    font-size: 16px;
}

ul.nav a:hover {
    background-color: black !important;
}
@media screen and (min-width: 1224px) {
    .navbar-custom .navbar-nav > li > a {
        color: #271f1f;
        font-size: 20px;
    }
    ul.nav a:hover {
        color: orangered !important;
        background-color: transparent !important;
    }
}

.navbar-nav li.active a { 
    color: #fff !important;
    background-color: #8A8383;
    border-radius: 5px;

}

.navbar-static-top {
    max-height: 80px;
    background-color: black;
}


/*.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}*/