/* You can add global styles to this file, and also import other style files */
.font-size-20 {
	font-size: 20px;
}
.font-size-14 {
	font-size: 14px;
}
.center-text {
	text-align: center;
}
.padding-10 {
	padding: 10px;
}
.padding-left-15 {
	padding-left: 15px;
}
.font-bold {
	font-weight: bold;
}
.padding-top-bottom-20 {
	padding: 20px 0;
}
.padding-top-10 {
	padding-top: 10px
}
.padding-top-20 {
	padding-top: 20px
}
.padding-bottom-20 {
	padding-bottom: 20px
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
